Repository postgis/postgis: changes, and which Woodpecker steps are due for each by the changed paths.
All: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr

Path conditions:
  prepare: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local, doc/po/*/Makefile.in, doc/po/*/*.po
  check-xml: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  build-images: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  build-html: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  build-cheatsheets: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local, doc/po/*/Makefile.in, doc/po/*/*.po
  build-chunked-html: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  build-pdf: any of: .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  check-xml-ja: any of: doc/po/ja/Makefile.in, doc/po/ja/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  check-xml-de: any of: doc/po/de/Makefile.in, doc/po/de/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  check-xml-fr: any of: doc/po/fr/Makefile.in, doc/po/fr/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  html-ja: any of: doc/po/ja/Makefile.in, doc/po/ja/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  html-de: any of: doc/po/de/Makefile.in, doc/po/de/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  html-fr: any of: doc/po/fr/Makefile.in, doc/po/fr/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  cheatsheets-ja: any of: doc/po/ja/Makefile.in, doc/po/ja/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  cheatsheets-de: any of: doc/po/de/Makefile.in, doc/po/de/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  cheatsheets-fr: any of: doc/po/fr/Makefile.in, doc/po/fr/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  check-cheatsheets-ja: any of: doc/po/ja/Makefile.in, doc/po/ja/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  check-cheatsheets-de: any of: doc/po/de/Makefile.in, doc/po/de/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  check-cheatsheets-fr: any of: doc/po/fr/Makefile.in, doc/po/fr/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  pdf-ja: any of: doc/po/ja/Makefile.in, doc/po/ja/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  pdf-de: any of: doc/po/de/Makefile.in, doc/po/de/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local
  pdf-fr: any of: doc/po/fr/Makefile.in, doc/po/fr/*.po, utils/check_localized_cheatsheets.sh, .woodpecker/docs.yml, doc/Makefile.in, doc/html/images/Makefile.in, doc/*.xml, doc/po/Makefile.local

Use geographiclib also for sphere calcs. Closes #5671 for PostGIS 3.4.3
  liblwgeom/cunit/cu_geodetic.c
  liblwgeom/lwgeodetic.c
  liblwgeom/lwgeodetic.h
  postgis/geography_measurement.c
Due: none

NEWS for #5671 PostGIS 3.4.3
  NEWS
Due: none

Upgrade winnie's SFCGAL, Boost, and CGAL default versions
  ci/winnie/winnie_common.sh
Due: none

More fixes for woodie agent
  .woodpecker/docs-localized.yml.in
  .woodpecker/docs.yml
  .woodpecker/regress.yml
Due: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr

Fix depends
  .woodpecker/docs.yml
  .woodpecker/update-docs-localized.sh
Due: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr

Add failing master 32bit test. References #5683
  liblwgeom/cunit/cu_misc.c
Due: none

Use geographiclib also for sphere calcs. Closes #5671 for PostGIS 3.3.7
  NEWS
  liblwgeom/cunit/cu_geodetic.c
  liblwgeom/lwgeodetic.c
  liblwgeom/lwgeodetic.h
  postgis/geography_measurement.c
Due: none

Add missing copyright header
  topology/sql/cleanup/RemoveUnusedPrimitives.sql.in
Due: none

Translate a string in italian, and drop fuzzy strings
  doc/po/it_IT/postgis-manual.po
Due: prepare, build-cheatsheets

[woodie] localized cheatsheet check depends on the english one
  .woodpecker/docs.yml
  .woodpecker/update-docs-localized.sh
Due: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr

Translate another italian string
  doc/po/it_IT/postgis-manual.po
Due: prepare, build-cheatsheets

Revise postgis_get_full_version_schema() to not rely on search_path Closes #5687 for PostGIS 3.4.3
  NEWS
  libpgcommon/lwgeom_pg.c
Due: none

Guarantee order of us_lex items References #5695 for PostGIS 3.5.0
  extensions/address_standardizer/expected/test-debug_standardize_address.out
  extensions/address_standardizer/expected/test-standardize_address_1.out
  extensions/address_standardizer/test-debug_standardize_address.sql.in
  extensions/address_standardizer/test-standardize_address_1.sql.in
  extensions/address_standardizer/us_lex.sql
Due: none

address_standardizer_data_us incorrect handling of directionals References #5695 for PostGIS 3.4.3
  NEWS
  extensions/address_standardizer/expected/test-debug_standardize_address.out
  extensions/address_standardizer/expected/test-standardize_address_1.out
  extensions/address_standardizer/test-debug_standardize_address.sql.in
  extensions/address_standardizer/test-standardize_address_1.sql.in
  extensions/address_standardizer/us_lex.sql
Due: none

Translated PostGIS Manual using Weblate (Japanese)
  doc/po/ja/postgis-manual.po
Due: prepare, build-cheatsheets, check-xml-ja, html-ja, cheatsheets-ja, check-cheatsheets-ja, pdf-ja

Increase allowed timeout of interrupt_buffer test. Fails too much
  regress/core/interrupt_buffer.sql
Due: none

Add more debugging lines
  liblwgeom/topo/lwgeom_topo.c
Due: none

Fix lwline_split_by_point_to determination of boundary points
  liblwgeom/cunit/cu_split.c
  liblwgeom/liblwgeom_internal.h
  liblwgeom/lwgeom_geos_split.c
  liblwgeom/topo/lwgeom_topo.c
Due: none

Add specific regress test for ticket 5698
  topology/test/regress/topogeo_addpoint.sql
  topology/test/regress/topogeo_addpoint_expected
Due: none

Fix lwline_split_by_point_to determination of boundary points
  liblwgeom/cunit/cu_split.c
  liblwgeom/liblwgeom_internal.h
  liblwgeom/lwgeom_geos_split.c
  liblwgeom/lwgeom_topo.c
  topology/test/regress/topogeo_addpoint.sql
  topology/test/regress/topogeo_addpoint_expected
Due: none

Add NEWS item about the fix for #5698
  NEWS
Due: none

Fix lwline_split_by_point_to determination of boundary points
  NEWS
  liblwgeom/cunit/cu_split.c
  liblwgeom/liblwgeom_internal.h
  liblwgeom/lwgeom_geos_split.c
  liblwgeom/lwgeom_topo.c
  topology/test/regress/topogeo_addpoint.sql
  topology/test/regress/topogeo_addpoint_expected
Due: none

Increase alloted time some more for interrupt buffer and relate
  regress/core/interrupt_buffer.sql
  regress/core/interrupt_relate.sql
Due: none

Try to fix woodpecker bad_habit warning
  .woodpecker/docs-localized.yml.in
  .woodpecker/docs.yml
Due: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr

Try to fix woodpecker bad_habit warning
  .woodpecker/docs.yml
Due: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr

Quiet when needs event warnings
  .woodpecker/regress.yml
  .woodpecker/tools.yml
Due: none

Quiet bad_habit Please set an event filter warnings
  .woodpecker/docs-localized.yml.in
  .woodpecker/docs.yml
  .woodpecker/regress.yml
  .woodpecker/tools.yml
Due: prepare, check-xml, build-images, build-html, build-cheatsheets, build-chunked-html, build-pdf, check-xml-ja, check-xml-de, check-xml-fr, html-ja, html-de, html-fr, cheatsheets-ja, cheatsheets-de, cheatsheets-fr, check-cheatsheets-ja, check-cheatsheets-de, check-cheatsheets-fr, pdf-ja, pdf-de, pdf-fr
